@import url(https://fonts.googleapis.com/css?family=Oxygen);

a:hover{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background: #fff !importent;
    font-family: 'Oxygen', sans-serif;
}
header{
    background: #00aeef;
    padding-top: 15px;
}
.logo{
    float: left;
}
.logo img{
    max-width: 100%;
}
.main_nav{
    float: right;
   
}
.main_nav ul{
    margin-top: 35px;
}
.main_nav ul li{
     display: inline-block;
}
.main_nav ul li a{
    color: #fff;
    padding: 5px 10px;
}
.main_nav ul li a:hover{
    text-decoration: none;
}
.welcome_part{
    background-image: linear-gradient(12deg, #fff 28%,#00aeef 28%);
    padding-top: 30px;
}
.led_bulb{
    width: 50%;
    float: left;
    
}
.led_bulb img{
    max-width: 100%;
    position: inherit;
}
.welcome_intro{
    display: inline-block;
    color: #fff;
    width: 45%;
    position: absolute;
    float: right;
    padding: 50px 0px;
}
.tag_line{
    padding: 35px 0px; 
    padding-bottom: 45px;
}
.welcome_intro h2{
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}
.welcome_intro p{
    font-size: 14px;
    padding: 10px 0px;
}
.welcome_intro a{
    margin-top: 15px;
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #fff;
}
.welcome_intro a:hover{
    text-decoration: none;
}
.what_we_do{
    
}
.what_we_do_box{
    
}
.head_row{
    text-align: left;
    background: url(../images/row_bl.jpg) no-repeat left;
}
.head_row h4{
    display: inline-block;
    padding-right: 8px;
    background: #fff;
    font-size: 22px;
    font-weight: bold;
    color: #00aeef;
}
.what_we_bxs{
    width: 50%;
    float: left;
}
.what_we_row{
    width: 100%;
}
.what_bx_wrapp{
    width: 33.333333%;
    display: inline-block;
    float: left;
}
.what_bx{
    width: 180px;
    height: 180px;
    background: #00aeef;
    color: #fff;
    text-align: center;
    display: block;
}
.what_bx h4{
    padding: 30% 5%;
}
.wht_bx_med{
    margin-top: 90px;
}
.hand_bulb{
    width: 50%;
    float: right;
}
.hand_bulb img{
    max-width: 100%;
}
.products{
    background: #00aeef;
}
.pro_head{
    text-align: center;
    background: url(../images/row_wht.jpg) no-repeat center;
    padding: 20px 0px;
}
.pro_head h4{
    display: inline-block;
    margin: 0;
    background: #00aeef;
    padding: 0px 8px;
    color: #fff;
    font-size: 28px;
}
.mob_frame{
    width: 100%;   
}
.mob_frame img{
    float: left;
}
.pro_description{
    float: left;
    width: 50%;
    color: #fff;
}
.pro_description h4{
    
}
.description_1{
    text-align: right;
    margin-right: 30px;
    margin-top: 10%;
}
.why_uni_led{
    padding: 30px 0px;
    text-align: center;
}
.why_uni_led h3{
    font-size: 26px;
    color: #00aeef;
    margin: 10px 0px;
}
.why_uni_led a{
    margin-top: 20px;
    display: inline-block;
     color: #00aeef;
    padding: 5px 15px;
    border: 1px solid #00aeef;
}
.Why_bx{
    padding: 35px 0px;
}
.Why_bx h5{
    margin-top: 20px;
}
.social_respon{
    
}
.social_respon h5{
    text-align: center;
    color: #00aeef;
}
.respon_row_1{
    padding: 5px 0px;
    display: inline-block;
    padding: 0% 15%;
}
.soci_res_col1{
    padding: 60px;
    background: #00aeef;
    display: inline-block;
    float: left;
}
.soci_res_col2{
    margin-left: 30px;
    float: left;
    width: 65%;
    padding: 29px 0px;
}
.soci_res_col2 h4{
    font-weight: bold;
    color: #00aeef;
}
.respon_row_2 {
    padding: 0% 13%;
}
.respon_row_2 .soci_res_col2{
    text-align: right;
    margin-right: 30px;
    padding: 60px 0px;
}
.respon_row_3 {
    padding: 1% 13%;
}
.respon_row_3 .soci_res_col2{
    padding: 80px 0px;
    width: 45%;
}
.dwn_cruve{
    background: url(../images/dwn_trngl.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 488px;
    margin-top: -175px;
}
footer{
    
}
.foot_log{
    padding: 81px 0px;
}
.foot_log img{
    max-width: 100%;
}
.foot_nav{
    padding: 38px 0px
}
.foot_nav ul{
    margin: 0;
}
.foot_nav ul li{
    padding: 5px 0px;
    list-style: none;
}
.foot_nav ul li a{
    padding: 5px 10px;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.follow_up{
    padding: 30px 0px;
}
.follow_up h5{
    font-weight: bold;
}
.follow_up i{
    display: list-item;
    list-style: none;
    font-size: 18px;
    float: left;
    padding: 5px 0px;
}
.follow_up h6{
    font-size: 12px;
    margin-left: 30px;
    padding: 5px 0px;
}
.copy{
    
}
.copy p{
    float: left;
    padding: 8px 0px;
    margin: 0;
    font-size: 12px;
}
.powr{
    float: right;
    padding: 8px 0px;
    margin: 0;
    font-size: 12px;
}
.powr img{
    max-width: 100%;
}

/*NAV TOGGLE*/

.nav_trigger {
    display: none;
    font-size: 23px;
    color: #00aeef;
    border: 1px solid #00aeef;
    text-align: center;
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50px;
    border-radius: 3px;
    -o-transition: all 0.2s easer-out;
    -moz-transition: all 0.2s easer-out;
    -webkit-transition: all 0.2s easer-out;
    transition: all 0.2s easer-out;
    z-index: 5000;
    background: #fcfcfc;
}

.nav_trigger:hover {
    color: #000;
    border: 1px solid #fff;
}


.mob_banner{
    width: 326px;
    height: 543px;
    background-image: url(../images/mob_bg.png);
    overflow: hidden;
    margin: 0px auto 25px auto;
}
/*.banner_wrap{
    width: 259px;
    height: 462px;
    margin-top: 46px;
    margin-left: 15px;
    background-color:;
    position: relative;
}
.mob_controls {
    text-align: center;
    margin-top: 14px;
}
.mob_controls span{
    display: inline-block;
}
.mob_control a{
    display: inline-block;
    color: #666;
    font-size: 32px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin: 0px 5px;
    line-height: 25px;
}*/



.wrapper {
    	height: auto !important;
    	height: 100%;
    	margin: 0 auto; 
    	overflow: hidden;
    }
    
    a {
      text-decoration: none;
    }
    
    
    h1, h2 {
      width: 100%;
      float: left;
    }
    h1 {
      margin-top: 25px;
      color: #000;
      margin-bottom: 5px;
      font-size: 50px;
      letter-spacing: -4px;
    }
    h2 {
      color: #444;
      font-weight: 100;
      margin-top: 0;
      margin-bottom: 10px;
    }
    
    .pointer {
      color: #9b59b6;
      font-family: 'Pacifico', cursive;
      font-size: 30px;
      margin-top: 15px;
    }
    pre {
      margin: 80px auto;
    }
    pre code {
      padding: 35px;
      border-radius: 5px;
      font-size: 15px;
      background: rgba(0,0,0,0.1);
      border: rgba(0,0,0,0.05) 5px solid;
      max-width: 500px;
    }


    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
      background: #161923;
    }
    
    .main h1 {
      padding:20px 50px;
      float: left;
      width: 100%;
      font-size: 90px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: 100;
      color: black;
      margin: 0;
      margin-top: 70px;
      font-family: 'Playfair Display';
      letter-spacing: -1px;
    }
   
    .main h1.demo1 {
      background: #1ABC9C;
    }
    
    .reload.bell {
      font-size: 12px;
      padding: 20px;
      width: 45px;
      text-align: center;
      height: 47px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
    }
    
    .reload.bell #notification {
      font-size: 25px;
      line-height: 140%;
    }
    
    .reload, .btn{
      display: inline-block;
      border: 4px solid #A2261E;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background: #CC3126;
      display: inline-block;
      line-height: 100%;
      padding: 0.7em;
      text-decoration: none;
      color: #fff;
      width: 100px;
      line-height: 140%;
      font-size: 17px;
      font-family: open sans;
      font-weight: bold;
    }
    .reload:hover{
      background: #A2261E;
    }
    .btn {
      width: 200px;
      color: #fff;
      border: none;
      margin-left: 10px;
      background: black;
    }
    .clear {
      width: auto;
    }
    .btn:hover, .btn:hover {
      background: rgba(0,0,0,0.8);
    }
    .btns {
      width: 410px;
      margin: 50px auto;
    }
    .credit {
      text-align: center;
      color: #444;
      padding: 10px;
      margin: 0 0 0 0;
      background: #161923;
      color: #FFF;
      float: left;
      width: 100%;
    }
    .credit a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
    
    .back {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      display: block;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: rgba(255, 255, 255, 0.25);
      font-weight: bold;
      font-size: 13px;
      color: #000;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
    }
    .back:hover {
      color: black;
      background: rgba(255, 255, 255, 0.5);
    }
    
    
    .page_container {
      max-width: 960px;
      margin: 50px auto;
    }

    .header {
      background: white;
      padding-top: 10px;
      margin-bottom: 0;
    }
    .header h1{
      margin-bottom: 0;
      font-size: 45px;
    }

    .header .menu {
      padding-bottom: 10px;
    }

    .benefits {
      color: black;
      height: 100px;
      background: #FFF;
      position: relative;
      width: 100%;
      padding: 25px;
      font-size: 40px;
      font-weight: 100;
      float: left;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    .benefits .page_container{
      margin-bottom: 50px;
      margin-top: 0;
    }
  
    .immersive_slider .is-slide .content h2{
      line-height: 140%;
      font-weight: 100;
      color: white;
      font-weight: 100;
    }
    .immersive_slider .is-slide .content a {
      color: white;
    }
  
  .immersive_slider .is-slide .content p{
    float: left;
    font-weight: 100;
    width: 100%;
    font-size: 17px;
    margin-top: 5px;
  }

.content a{
    padding: 5px 15px;
    border:  1px solid #fff;
    display: inline-block;
}

/*CONTACT PAGE*/

.contact_bar{
    background-image: linear-gradient(-7deg, #fff 43%,#00aeef 43%);
    height: 320px;
}
.head_row_wht{
    text-align: center;
    background: url(../images/row_wht.jpg) no-repeat center;
    padding: 5% 0%;
}
.head_row_wht h3{
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    margin: 0;
    background: #00aeef;
    padding: 0px 8px;
}
.adrss_bx{
    float: right;
    width: 280px;
}
.adrss_bx p{
    background: #00aeef;
    padding: 20px 15px;
    color: #fff;
    margin: 0;
    margin-top: 25px;
}
.corn{
    background: url(../images/corn.png) no-repeat center;
    height: 51px;
    margin-top: -2px;
}
.contact_area{
    padding: 50px 0px;
}
.contact_form{
    width: 80%;
}
.contact_form input {
    margin: 20px auto;
    height: 40px;
    display: list-item;
    width: 100%;
    border: 1px solid #00aeef;
    outline: none;
}
.contact_form textarea {
    margin: 10px auto;
    display: list-item;
    width: 100%;
    height: 110px;
    border: 1px solid #00aeef;
    outline: none;
    padding-left: 8px;
}
.contact_form input[type="text"] {
    padding-left: 8px;
}
.contact_form input[type="email"] {
    padding-left: 8px;
}
.contact_form button {
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background: none;
    border: 1px solid #00aeef;
    float: right;
    color:  #00aeef;
}
.map{
    height: 300px;
}
.cont_corn{
    background: url(../images/cont_con.png) no-repeat center;
    height: 340px;
    background-size: cover;
}

/*ABOUT*/

.about_tagline{
    background: #00aeef;
    color: #fff;
    text-align: center;
    padding: 80px 0px;
}
.tagline_bx{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.tagline_bx h4{
    font-size: 18px;
}
.about_tagline .fa{
    font-size: 28px;
}
.about_tagline .fa-quote-left{
    margin-top: -20px;
    float: left;
}
.about_tagline .fa-quote-right{
    float: right;
}
.welcome_to{
    padding: 40px 0px;
}
.welcome_to h3{
    color: #00aeef;
    font-size: 28px;
    text-align: center;
}
.cont_sect{
    
}
.love{
    float: left;
    width: 240px;
}
.love img{
    max-width: 100%;
}
.cont_sect p{
    float: right;
    width: 75%;
    padding: 65px 0px;
}
.cont_sect_2{
    padding: 15px 0px;
}
.cont_sect_2 p{
    float: left;
    width: 75%;
    padding: 10px 0px;
}
.cont_sect_2 .love{
    float: right;
}
.contact_link{
    text-align: center;
}
.contact_link a{
    padding: 10px 30px;
    border: 1px solid #00aeef;
    color: #00aeef;
    display: inline-block;
}
/*OUR TECHNOLOGY*/
.our_tech{
    background: #00aeef;
    height: 200px;
}
.our_tech h3{
    color: #fff;
    text-align: center;
    padding: 50px 0px;
}
.tech_product{
    background: #fff;
    background-image: linear-gradient(90deg, #fff 34%,#ebebeb 28%);
}
.tech_head{
    width: 30%;
    float: left;
    padding: 45px 0px;
    padding-left: 60px;
    color: #00aeef;
}
.tech_head h5{
    text-align: center;
    padding: 15px 0px;
}
.tech_pro1{
    background: #ebebeb;
    width: 70%;
    float: left;
}
.tech_pro_bx{
    padding: 20px;
    width: 50%;
    float: left;
    text-align: center;
}
.tech_pro_bx h5{
    font-weight: bold;
}
.tech_product_row{
    background: #ebebeb;
}
.tech_pro2 .tech_pro_bx{
    width: 33.333333%;
    margin: 0;
}
.why_unlux{
    padding: 25px 0px;
}
.row_bulb_spec{
    padding: 25px 0px;
}
.head_row_bl{
    text-align: center;
    background: url(../images/row_bl.jpg) no-repeat center;
}
.head_row_bl h3{
    background: #fff;
    padding: 0px 8px;
    color: #00aeef;
    display: inline-block;
    margin: 0;
}
.why_bulb{
    margin: 0 auto;
    text-align: center;
}
.why_bulb img{
    max-width: 100%;
}
.left_descri{
    width: 100%;
    float: left;
    background-image: linear-gradient(-9deg, #fff 28%,#00aeef 28%);
    padding: 25px;
    padding-bottom: 115px;
    color: #fff;
}
.left_descri ul{
    float: left;
    list-style: none;
}
.left_descri ul li{
    padding: 8px 0px;
}
.left_descri .spec{
    float: right;
}
.right_descri{
    width: 100%;
    float: right;
    background-image: linear-gradient(170deg, #fff 28%,#00aeef 28%);
    padding: 25px;
    padding-top: 140px;
    color: #fff;
    margin-top: 143px;
}
.right_descri ul{
    float: left;
    list-style: none;
}
.right_descri ul li{
    padding: 8px 0px;
}
.right_descri .spec{
    float: right;
}
/* PRODUCT */
.our_product{
    height: 200px;
    background: #00aeef;
}
.our_product h3{
    text-align: center;
    color: #fff;
    padding: 50px 0px;
}
.product_wrap{
   
}
.product_bx{
      margin: 10px 0px;
}
.product_img{
    float: left;
    position: absolute;
    z-index: 99;
}
.product_img img{
    max-width: 100%;
}
.product_descri{
    color: #fff;
    height: 100%;
    float: left;
    margin-left: 165px;
    padding: 80px 0px;
}
.product_descri ul{
    padding: 20px 0px;
}
.product_descri ul li{
    padding: 8px 0px;
    list-style: none;
}
.product_spec{
    padding: 30px 40px;
    background: #fff;
    float: right;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.product_spec ul{
    list-style: none;
}
.product_spec ul li{
    padding: 6px 0px;
}
.descrip_wrap{
    background: #555;
     height: 495px;
    margin-left: 140px;
    position: relative;
}
.product_bx_bl{
    position: relative;
    margin: 10px 0px;
}
.product_bx_bl .descrip_wrap{
    background: #00aeef;
    margin: 0;
    margin-right: 140px;
}
.product_bx_bl .product_descri{
    float: right;
    margin: 0;
    margin-right: 140px;
}
.product_bx_bl .product_spec{
    bottom: 15px;
    left: 15px;
    float: left;
    right: auto;
}
.product_bx_bl .product_img{
    position: absolute;
    float: right;
    z-index: 99;
    bottom: 0;
    right: 0;
}
@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
    .what_bx{
        width: 150px;
        height: 150px;
    }
    .respon_row_1,
    .respon_row_2,
    .respon_row_3{
        padding: 0% 3%;
    }
    .cont_sect p {
        width: 70%;
    }
    .cont_sect p {
        width: 70%;
    }
    .left_descri{
        padding: 10px;
        width: 100%;
        float: left;
        background-image: linear-gradient(-9deg, #fff 28%,#00aeef 28%);
        padding-bottom: 115px;
        color: #fff;
    }
    .right_descri{
        padding: 10px;
        width: 100%;
        float: right;
        background-image: linear-gradient(167deg, #fff 28%,#00aeef 28%);
        padding-top: 140px;
        color: #fff;
        margin-top: 143px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    #wrapper{
        width: none;
    }
    .caroufredsel_wrapper{
    width: none;
    }
    .respon_row_1,
    .respon_row_2,
    .respon_row_3{
        padding: 0% 3%;
    }
    .what_we_bxs{
        width: 100%;
        margin: 0 auto;
        padding: 0% 10%;
    }
    .what_bx_wrapp{
        width: auto;
        margin-left: 10px;
    }
    .hand_bulb{
        width: 100%;
    }
    #lightings {
        bottom: 194px;
    }
    section{
        height: 188px;
    }
    .soci_res_col2{
        width: 60%;
    }
    .respon_row_2 .soci_res_col2{
        margin-left: 0;
    }
    .welcome_part{
        background-image: linear-gradient(7deg, #fff 19%,#00aeef 19%);
    }
    .welcome_intro{
        padding: 0;
    }
    .welcome_intro a{
        margin: 0;
    }
    .tag_line{
        padding: 0;
    }
    .cont_sect p {
        width: 60%;
    }
    .right_descri{
        margin: 0;
    }
    .tech_head{
        padding: 0px;
        padding-top: 25px;
    }
    .descrip_wrap{
        height: 718px;
    }
    .product_spec{
        left: 15px;
    }
    .product_bx_bl .product_descri{
        float: left;
        margin: 0;
        margin-left: 100px;
    }
    .product_bx_bl .product_spec{
        right: 15px;
    }
    .product_bx_bl .product_img{
        top: 0;
    }
}
@media only screen and (min-device-width: 766px) and (max-device-width: 521px) {
    .led_bulb{
        width: 100%;
        float: none;
    }
    .what_we_bxs{
        padding: 0;
    }
}
@media only screen and (max-device-width: 767px){
    .nav_trigger {
            display: inline-block;
        }
    .main_nav {
        display: none;
        float: none;
        background: #fcfcfc;
        margin-top: 128px;
        padding: 5px;
        margin-bottom: 0px;
    }
    .main_nav > ul > li {
        display: list-item;
        list-style: none;
        text-align: center;
        margin: 10px 0px;
       
    }
    .main_nav > ul > li > a {
        display: block;
        padding: 5px 0px;
         color: #00aeef;
    }
    .what_we_bxs{
        width: 100%;
        margin: 0 auto;
        padding: 0% 10%;
    }
    .what_bx_wrapp{
        width: auto;
        margin-left: 10px;
    }
    .hand_bulb{
        width: 100%;
    }
    #lightings {
        bottom: 194px;
    }
    section{
        height: 188px;
    }
.immersive_slider .is-slide .content p{
    font-size: 14px;
}
.foot_log{
    text-align: center;
}
.foot_nav{
    text-align: center;
}
.follow_up{
    padding: 0% 44%;
}
.contact_form {
    width: 100%;
}
    .tech_head{
        padding: 0px;
        padding-top: 25px;
    }
    .descrip_wrap{
        height: 718px;
    }
    .product_spec{
        left: 15px;
    }
    .product_bx_bl .product_descri{
        float: left;
        margin: 0;
        margin-left: 100px;
    }
    .product_bx_bl .product_spec{
        right: 15px;
    }
    .product_bx_bl .product_img{
        top: 0;
    }
.left_descri ul{
    width:80%;
}
.left_descri .spec{
    width:20%;
}
.left_descri .spec li{
      padding: 10px 0px;
      padding-left: 15px;
}
.right_descri{
     margin: 0;
}
.right_descri ul{
    width:80%;
}
.right_descri .spec{
     width:20%;
}
.right_descri .spec li{
     padding: 13px 0px;
      padding-left: 15px;
}
@media only screen and (max-device-width: 600px){
    .product_img{
        float: none;
        position: inherit;
        text-align: center;
        margin-top: 60px;
    }
    .descrip_wrap{
        margin: 0;
        position: inherit;
        margin-top: -80px;
    }
    .product_spec{
        position: inherit;
        float: none;
    }
    .product_descri{
        height: auto;
        float: none;
        padding: 15px 0px;
        padding-top: 80px;
        margin-left: 15px;
    }
    .product_bx_bl .descrip_wrap{
        margin: 0;
        position: inherit;
        margin-top: -80px;
       
    }
    .product_bx_bl .product_descri{
        height: auto;
        float: none;
        padding: 15px 0px;
        padding-top: 80px;
        margin-left: 15px;
    }
    .product_bx_bl .product_spec{
        position: inherit;
        float: none;
    }
    .product_bx_bl .product_img{
        float: none;
        position: inherit;
        text-align: center;
        margin-top: 40px;
    }
}
@media only screen and (max-device-width: 520px){
    #lightings {
        bottom: 194px;
    }
    section{
        height: 188px;
    }
    .welcome_part {
        background-image: linear-gradient(12deg, #fff 28%,#00aeef 28%);
        padding-top: 30px;
        height: 1461px;
}   
    .led_bulb {
        width: 100%;
        float: none;
    }
    .welcome_intro{
        width: 95%;
    }
    #lightings {
        bottom: 51%;
    }
    section{
        height: 188px;
    }
    .immersive_slider .is-slide .content{
        width: 100%;
    }
    .immersive_slider .is-slide .image{
        width: 100%;
    }
    .what_we_do {
        margin-top: -330px;
    }
    .what_we_row {
    width: 100%;
    margin: 0 auto;
    padding: 0% 23%;
}
    .soci_res_col2{
        width: 100%;
        margin: 0;
    }
    .respon_row_3 .soci_res_col2 {
        padding: 80px 0px;
        width: 100%;
    }
    .follow_up {
        padding: 0% 38%;
    }
    .copy p{
        float: none;
        text-align: center;
    }
    .powr{
        float: none;
        text-align: center;
    }
    .is-next, .is-prev{
        display: none;
        font-size: 27px;
        width: 27px;
    }
    .immersive_slider .is-slide{
        padding: 0px 10px;
    }
    .content{
        padding: 0;    
    }
    .tech_pro_bx{
        float: none;
        width: 100%;
    }
    .tech_head{
        width: 100%;
    }
    .tech_product{
        background-image: none;
    }
    .tech_pro1{
        width: 100%;
    }
    .tech_pro2 .tech_pro_bx{
        width: 100%;
        background: #ebebeb;
    }
    .tech_product_row{
        background: none;
    }
}
@media only screen and (max-device-width: 462px){
    #lightings {
        bottom: 253px;
    }
    section{
        height: 188px;
    }
}
@media only screen and (max-device-width: 428px){
    #lightings {
        bottom: 203px;
    }
    section{
        height: 188px;
    }
}
@media only screen and (max-device-width: 384px){
    #lightings {
        bottom: 191px;
    }
    section{
        height: 188px;
    }
}
@media only screen and (max-device-width: 370px){
    #lightings {
        bottom: 175px;
        width: 180px;
    }
    section{
        height: 188px;
    }
}

@media only screen and (max-device-width: 320px){
.respon_row_1 {
    padding: 5px 0px;
    display: inline-block;
    padding: 0% 1%;
}
    section {
    height: 145px;
}
    #lightings {
    bottom: 125px;
    width: 180px;
        margin-left: 42px;
}
    .what_we_bxs{
        padding: 0%;
            margin: 0% -6%;
    }
    .what_bx_wrapp {
    width: auto;
    margin:0;
    }
    .soci_res_col1 {
        padding: 31px;
    }
    .follow_up {
    padding: 0% 34%;
}
}